<?xml version="1.0" encoding="UTF-8"?>
<root>
    <AirplaneValues>
        <AllowedCorridorHeight>120</AllowedCorridorHeight>
        <AsterixBufferLog>false</AsterixBufferLog>
        <BottomFlightLevel>290</BottomFlightLevel>
        <ConflictAsterixBufferLog>false</ConflictAsterixBufferLog>
        <CounterAngle>135</CounterAngle>
        <CounterDistance>30000</CounterDistance>
        <CounterDistanceWithClimb>30000</CounterDistanceWithClimb>
        <CounterTime>300</CounterTime>
        <CrashDistance>1000</CrashDistance>
        <Disabled>false</Disabled>
        <FollowingAngle>45</FollowingAngle>
        <FollowingDistance>10000</FollowingDistance>
        <FollowingDistanceWithClimb>20000</FollowingDistanceWithClimb>
        <FollowingTime>300</FollowingTime>
        <KeepLog>false</KeepLog>
        <LifeTime>10</LifeTime>
        <LowFlightLevelDistance>300</LowFlightLevelDistance>
        <MinClimbLevel>2</MinClimbLevel>
        <MoveToFutureSeconds>0</MoveToFutureSeconds>
        <PerpendicularDelta>40</PerpendicularDelta>
        <PerpendicularDistance>10000</PerpendicularDistance>
        <PerpendicularTime>300</PerpendicularTime>
        <TopFlightLevel>410</TopFlightLevel>
        <TopFlightLevelDistance>600</TopFlightLevelDistance>
    </AirplaneValues>
    <Identificator>ACC</Identificator>
    <KeepLog>true</KeepLog>
    <Language>english</Language>
    <Log>
        <FileSize>1048576</FileSize>
        <Level>ALL</Level>
        <MaxBackupIndex>10</MaxBackupIndex>
        <Path></Path>
    </Log>
    <MinHmeters>-1003</MinHmeters>
    <Network>
        <ListenHost>0.0.0.0</ListenHost>
        <ListenPort>4073</ListenPort>
        <NotifyHost>255.255.255.255</NotifyHost>
        <NotifyPort>4074</NotifyPort>
    </Network>
    <RestrictionZoneValues>
        <Disabled>false</Disabled>
        <KeepLog>true</KeepLog>
        <KeepNotification>true</KeepNotification>
        <LatitudeCenter>0</LatitudeCenter>
        <LongitudeCenter>0</LongitudeCenter>
        <MainFIR>UTTR</MainFIR>
        <NotifyInterval>60</NotifyInterval>
        <SyncDatabaseInterval>60</SyncDatabaseInterval>
        <ZoneFilter></ZoneFilter>
    </RestrictionZoneValues>
    <databases timeout="6">
        <database1>
            <driver>QPSQL</driver>
            <host>192.20.1.45</host>
            <name>aero</name>
            <password>aero</password>
            <port>5432</port>
            <user>aero</user>
        </database1>
        <database2>
            <driver>QOCI</driver>
            <host>127.0.0.1</host>
            <name>XE</name>
            <password>aero</password>
            <port>1521</port>
            <user>aero</user>
        </database2>
    </databases>
    <redis timeout="6">
        <redis1>
            <ip>192.20.1.240</ip>
            <port>6379</port>
        </redis1>
        <redis2>
            <ip>127.0.0.1</ip>
            <port>6379</port>
        </redis2>
    </redis>
</root>
